<!-- app/views/chatrooms/show.html.erb -->
<div class="container chatroom" data-controller="forum-subscription"
data-forum-subscription-forum-id-value="<%=@forum.id%>">
  <div class ="title-subt-forum">
    <h5>#<%= @forum.title %></h5>
    <p class="subt-title"><em><%= @forum.description%></em></p>
  </div>

  <div class="messages" data-forum-subscription-target="messages">
    <% @forum.posts.each do |post| %>
      <%= render "posts/post", post: post%>
    <% end %>
  </div>

  <div class="reply-message-form">
    <div>
      <%= simple_form_for [@forum, @post],
      html: {data: { action: "turbo:submit-end->forum-subscription#resetForm" }, class: "d-flex"} do |f| %>
        <%= f.input :content,
          label: false,
          placeholder: "Reply...",
          wrapper_html: {class: "flex-grow-1"} %>
      </div>
      <div>
        <%= button_tag(type: 'submit', class: 'btn btn-four mb-3') do %>
          <i class="fa-regular fa-square-caret-right"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<br>
<br>
<br>
</div>
