
  <div class="wrapping-list">
    <div class="head-banner">
      <h1>Find a carer</h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: carers_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "City"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div>
      <% carers.each do |carer| %>
        <%= link_to carer_path(carer), style: "text-decoration: none;" do %>
        <div class="card-product">
          <div class="card-product-infos">
            <div class="card-info-img">
              <% if carer.photo.attached? %>
                <%= cl_image_tag carer.photo.key, height: 300, width: 400, crop: :fill, class: "card-product-img" %>
              <% else %>
                <%= image_tag "Will-Smith.jpg", height: 300, width: 400, class: "card-product-img" %>
              <% end %>
            </div>
            <div class="card-info-text">
              <h6><i class="fa-solid fa-user"></i> <%= carer.full_name %>, <%= carer.age %></h6>
              <p><i class="fa-solid fa-location-dot"></i> <%= carer.address %></p>
              <p><i class="fa-solid fa-house"></i> <%= carer.house_type %></p>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <button class="tab-button map-view-button btn-two" data-action="click->view-toggle#showMapView">Map View</button>
    <br>
    <br>
    <br>
  </div>
