<div class="main-box">
  <div class="find-banner">
    <h4>Find a carer in your area</h4>
  </div>
  <div class="map-carers">
    <div style="width: 100%; height: 400px; padding: auto; margin: auto;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>


  <div class="find-banner-subt">
    <h3>Carers near you</h3>
  </div>


  <div>
    <% @carers.each do |carer| %>
      <div class="card-product">
        <div class="card-product-infos">
          <div class="card-info-img">
            <% if carer.photo.attached? %>
              <%= cl_image_tag carer.photo.key, height: 300, width: 400, crop: :fill, class: "card-product-img" %>
            <% else %>
              <%= image_tag "Will-Smith.jpg", height: 300, width: 400, class: "card-product-img" %>
            <% end %>
          </div>
          <div class="card-info-text">
            <h6><%= link_to carer.full_name, carer_path(carer) %></h6>
            <p class="address"><%= link_to carer.address %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
