<div class="requests-box">
  <div class="head-banner">
    <h1><%= @carer.full_name %>'s profile</h1>
  </div>
  <div class="profile-card">
    <div class="profile-avatar-info">
      <div>
        <%= cl_image_tag @carer.photo.key, class: "avatar-profile" %>
      </div>
      <div>
        <div class="profile-avatar-info-title">
          <p><i class="fa-solid fa-user"></i> <%= @carer.full_name %>, <%= @carer.age %></p>
        </div>
        <div class="profile-avatar-info-text">
          <p><i class="fa-solid fa-location-dot"></i> <%= @carer.address %></p>
          <p><i class="fa-solid fa-house"></i> <%= @carer.house_type %></p>
        </div>
      </div>
    </div>
    <div class="bio">
      <p><%= @carer.bio %></p>
    </div>
  </div>
  <div class="profile-buttons">
    <%= link_to 'BOOK THIS CARER', new_carer_request_path(@carer), class: "btn-one" %>
    <%= link_to 'BACK TO SEARCH', carers_path, class: "btn-two" %>
    <%= link_to "Give a review to #{@carer.full_name}", new_carer_request_path(@carer), class: "btn-three" %>
  </div>
  <br>
  <p><strong>Reviews</strong></p>
    <% if @reviews.empty? %>
      <p>This carer has no reviews yet.</p>
    <% else %>
      <% @reviews.each do |review| %>
      <div class="profile-card">
        <div class="profile-avatar-info">
          <%= cl_image_tag review.user.photo.key, class: "avatar-reviews" %>
          <div class="reviews-avatar-info-title">
          <p><strong><%= review.user.full_name %></strong></p>
          <p class="reviews-avatar-date"><%= review.created_at.strftime("%d/%m/%Y at %H:%M") %></p>
          <div id="profile-avatar-info-text">
          <p><%= review.content %></p>
        </div>
        </div>
        <div>
          <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this review?" }, class: 'btn btn-danger btn-sm justify-content-end', style: 'background-color: transparent; border: none; color: black;' do %>
          <i class="fa-solid fa-trash-can justify-content-end"></i>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>
