<% if pets.any? %>
  <% pets.each do |pet| %>
    <div class="pet-profile-card">
      <div class="pet-profile-card-avatar">
        <% if pet.photo.attached? %>
          <%= cl_image_tag pet.photo.key, class: "avatar-medium" %>
        <% else %>
          <%= image_tag "default_pet.png", class: "avatar-medium" %>
        <% end %>
      </div>
      <div class="pet-profile-card-info">
        <strong><%= pet.pet_type %>:</strong> <%= pet.name %>, <%= pet.age %>
        <p><strong>Medical condition?</strong> <%= pet.medical_cond %></p>
        <p><strong>Special needs?</strong> <%= pet.special_needs %></p>
      </div>
      <div class="pet-delete-btn">
        <div>
          <%= button_to edit_pet_path(pet), method: :get, class: 'btn btn-primary btn-sm', style: 'background-color: transparent; border: none; display: inline-block;' do %>
          <i class="fas fa-edit" style="color: black;"></i>
          <% end %>
          <%= button_to pet_path(pet), method: :delete, data: { turbo_confirm: 'Are you sure you want to remove this pet?' }, class: 'btn btn-danger btn-sm', style: 'background-color: transparent; border: none; color: black;' do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p> You don't have any pets yet... Please add some</p>
<% end %>
<%#= button_to '', pet_path(@pet), class: "fa-solid fa-trash-can", class: "fa-solid fa-pen-to-square", method: :delete, data: { turbo_confirm: "Are you sure you want to remove this pet?" } %>
