<div class="head head-expand-sm head-light head-lewagon">
  <div class="container-fluid elements-top-head">
    <a class="head-brand" href="/">
      <%= image_tag "carepet_logo_v3.png" %>
    </a>

      <ul class="head-items">
      <% if user_signed_in? %>
        <li class="head-item dropdown">
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="headDropdown">
          <%= link_to "Profile", profile_path, class: "dropdown-item" %>
          <%= link_to "Requests", "#", class: "dropdown-item" %>
          <%= link_to "Messages", "#", class: "dropdown-item" %>
         <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </li>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
      </ul>
  </div>
</div>
