<div class="profile-card">
  <div class="profile-avatar-info">
    <div>
      <% if request.carer.photo.attached? %>
          <%= cl_image_tag request.carer.photo.key, class: "avatar-profile" %>
      <% else %>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
          <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
          <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
        </svg>
      <% end %>
    </div>
    <%= turbo_frame_tag "request_#{request.id}" do %>

      <div class="profile-avatar-info-title">
        <div class="profile-avatar-info-text">
          <p><strong>Carer: </strong><%= request.carer.full_name %>.</p>
          <p><strong>From: </strong><%= request.start_date.strftime("%d/%m/%Y") %>.</p>
          <p><strong>To: </strong><%= request.end_date.strftime("%d/%m/%Y") %>.</p>
          <p><strong>Pet: </strong><%= request.pet.pet_type %> - <%= request.pet.name %>.</p>
          <p><strong>Price: </strong>$<%= request.price %>.</p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="profile-buttons">
    <%= button_to "EDIT", edit_request_path(request), method: :get, class: "btn-one", style: "border: none;" %>
    <%= button_to "DELETE", requests_path, method: :delete, class: "btn-two", data: { turbo_confirm: 'Are you sure you want to delete this booking?' } %>
  </div>
</div>
