<div class="main-box">
  <%= turbo_frame_tag "request_#{@request.id}" do %>
    <h5> Edit your request to <%= @request.carer.full_name %> </h5>
    <%= simple_form_for(@request) do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :carers_home, collection: [["Carer's home", true], ["Pet's home", false]], prompt: 'Select status' %>
      <%= f.submit :SAVE, class: "btn-one", style: "border: none;" %>
    <% end %>
  <% end %>
</div>
