<div class="m-2">
  <%# = turbo_frame_tag "request_#{@request.id}" do  %> <%# Couldnt redirect to the right page with the turbo_frame so removed it - Arno %>
    <h5> Edit your request to <%= @request.carer.full_name %> </h5>
    <%= simple_form_for(@request) do |f| %>
      <%= f.input :start_date, order: [:day, :month, :year] %>
      <%= f.input :end_date, order: [:day, :month, :year] %>
      <%= f.input :carers_home, collection: [["Carer's home", true], ["Pet's home", false]], prompt: 'Select status' %>
      <%= f.input :price %>
      <%= f.association :pet, collection: current_user.pets %>
      <%= f.submit :SAVE, class: "btn-one", style: "border: none;" %>
    <% end %>
  <%# end %>
    <div class="profile-buttons">
    <%= link_to 'CANCEL', requests_path, class: "btn-two", style: "width: 100%;" %>
  </div>
</div>
