<h2>New Requests</h2>
<ul>
  <% if @requests.empty? %>
    <li>No upcoming requests.</li>
  <% else %>
    <% @requests.each do |request| %>
    <li>
      <%= button_to "Edit", edit_request_path(request), method: :get %>

      <%= button_to "Delete", request_path(request), method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this booking?' } %>

      <%= request.carer.full_name %>
      <%= request.start_date %>
      <%= request.end_date %>
      <%= request.price %>
    </li>
    <% end %>
  <% end %>
</ul>
