<h1>My account</h1>
<p>Name: <%= current_user.full_name %></p>
<p>Age: <%= current_user.age %></p>
<p>Address: <%= current_user.address %></p>
<p>City: <%= current_user.city %></p>
<p>House info: <%= current_user.house_type %></p>
<p>About me: <%= current_user.bio %></p>

<h2>My pets</h2>

<%#= render 'pets/pets', pet: @pet %>
